*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.header {
  background-color: #004E98;
  color: white;
  font-family: sans-serif;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.logo span {
  font-size: 0.9rem;
}

.user-info {
  display: flex;
  align-items: center;
  background: white;
  color: #004E98;
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
}

.user-info img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.navbar {
  background: #C0C0C0;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ddd;
}

.navbar a {
  display: block;
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;  
  color: white;
}

.navbar li:last-child {
  border-right: none;
}

.navbar a.active {
  background: #3A6EA5; 
  color: white;
}

.cardList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 border: solid 1px black;
 width: 140px;
 height: 250px;
 padding: 10px;
}

